<h2>Sign up</h2>

<%= form_for resource, builder: SubpopFormbuilder, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" } do |f| %>

  <% if resource.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(resource.errors.count, "error") %>.
    </div>
    <ul>
      <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% else -%>
  <div class="panel panel-default">
    <div class="panel-body">
      All fields are required.
    </div>
  </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
