<% content_for :modals do -%>
<%= render 'name_modal' -%>
<% end -%>

<h2>Names</h2>

<div class="row">
<%= form_tag names_path, :method => "get", id: "search-form", class: "form form-inline" do %>
<!-- text field tag=action,args,identifier,placeholdertext... -->
<div class="form-group">
  <%= autocomplete_field_tag 'search', nil, autocomplete_name_names_path, class: 'form-control name-search', placeholder: "Search by name", type: "search", value: @search-%>
  <%= submit_tag "Search", class: "btn btn-default" %>
</div>
<%end%>
</div>

<div class="top-buffer">
<%= page_entries_info @names, :entry_name => 'name' %>
</div>

<div class="row">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @names.each do |name| %>
      <tr>
        <td><%= name.name %></td>
        <td>

          <% if can? :read, name -%>
          <%= link_to 'Show', name, class: 'btn btn-default btn-sm' %>
          <% end -%>

          <% if can? :update, name -%>
          <%= link_to 'Edit', edit_name_path(name), class: 'btn btn-primary btn-sm' %>
          <% end -%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="row">
<%= paginate @names %>
<br>

<% if can? :create, Name %>
<%= link_to 'New Name', new_name_path, class: 'btn btn-primary' %>
<% end %>
</div>