<a href="<%= same_book_url %>">All images from this book</a>

<% if evidence? -%>
<b><%= identified? ? "Identified" : "Unidentified" %></b>
<% end -%>
<% if evidence? -%>

<b>EVIDENCE</b>
<b>Provenance evidence</b>: <%= evidence_summary %>
<% if present?(evidence_location_in_book) -%>
<b>Location in book</b>: <%= evidence_location_in_book %>
<% end -%>
<% if present?(evidence_transcription) -%>
<b>Transcription</b>: <%= evidence_transcription %>
<% end -%>
<% end -%>
<%# TODO: Add evidence date and place, comments  %>
<% if identified? -%>

<b>IDENTIFICATION</b>
<% identifications.each do |id| -%>
<b>Identified</b>: <%= id %>
<% end -%>
<%# TODO: Add identification comments %>
<% end -%>

<b>COPY</b>
<b>Repository</b>: <%= copy_current_repository %>
<b>Call number</b>: <a href="<%= url_to_catalog %>"><%= copy_call_number %></a>
<% if present?(copy_current_collection) -%>
<b>Collection</b>: <%= copy_current_collection %>
<% end -%>
<b>Copy title</b>: <%= copy_title %>
<% if present?(authors) -%>
<b>Author(s)</b>: <%= authors %>
<% end -%>
<% if present?(published) -%>
<b>Published</b>: <%= published %>
<% end -%>
<% if present?(copy_printer_publisher) -%>
<b>Printer/Publisher</b>: <%= copy_printer_publisher %>
<% end -%>
<% if present?(evidence_citation) -%>

<b>CITATION</b>
<%= evidence_citation %>
<% end -%>

<b>FIND IN POP</b>
<% tag_values.each do |tag| -%>
  <a href="<%= tag_url tag %>"><%= tag %></a>
<% end -%>