<p id="notice"><%= notice %></p>


<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @remediation, :spreadsheet %></div>
  <div class="col-sm-6 field-value"><%= link_to @remediation.spreadsheet_file_name, @remediation.spreadsheet.url %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @remediation, :problems %></div>
  <div class="col-sm-6 field-value"><%= @remediation.problems %></div>
</div>


<%= link_to 'Back', remediations_path %>
