<p id="notice"><%= notice %></p>

<div class="row">
  <h2>Remediation: <%= @remediation.spreadsheet_file_name %></h2>
</div>

<% unless @remediation.problems.blank? %>
  <div class="row">
    <%= link_to 'Remediations list', remediations_path, class: 'btn btn-default' %>
  </div>
<% end %>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @remediation, :spreadsheet %></div>
  <div class="col-sm-6 field-value"><%= link_to @remediation.spreadsheet_file_name, @remediation.spreadsheet.url %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @remediation, :problems %></div>
  <div class="col-sm-6 field-value"><%= @remediation.problems %></div>
</div>

<% if @remediation.remediation_agent.present? %>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @remediation, :publications_log %></div>
  <div class="col-sm-6 field-value"><%= @remediation.publications_log.inspect %></div>
</div>
<% end %>

<div class="row">
  <%= link_to 'Remediations list', remediations_path, class: 'btn btn-default' %>
</div>
