<h1>Editing Book</h1>

<% content_for :sidebar do -%>
  <%= render '/books/small_title_page_photos', book: @book -%>
<% end -%>

<% content_for :footer, @book.full_name -%>

<% content_for :footer_right do -%>
  <%= render '/shared/update_status', object: @book  -%>
<% end -%>

<%= render 'form' %>
<br>

<div class="row">
<%= link_to 'Show', @book %> |
<%= link_to 'Book list', books_path %>
<p><%= render '/shared/update_status', object: @book -%></p>
</div>

