<h1>Books</h1>

<div>
<%= paginate @books %>
<br>
<% if can? :create, Book -%>
<%= link_to 'Add New Book', new_book_path, class: 'btn btn-primary' %>
<% end -%>
</div>

<% if user_signed_in? %>
  <%= form_tag books_path, method: :get, id: 'filter_by_user', class: 'form form-inline' do %>
    <div class="form-group">
      <%= label_tag :user_filter, 'Show books for user', class: 'control-label' %>
      <%= select_tag :user_filter, user_filter_options(params[:user_filter]), class: 'form-control input-small' %>
      </div>
  <% end %>
<% end %>

<div class="top-buffer">
<%= page_entries_info @books, :entry_name => 'book' %>
</div>

<% @books.each do |book| -%>
<div class="row">
  <div class="col-sm-2">
    <% if book.title_pages.present? -%>
    <%= thumnail_link_to book.title_pages.first -%>
    <% end -%>
  </div>
  <div class="col-sm-7">
    <div class="row field-group">
      <div class="col-sm-4 field-label">Call number</div>
      <div class="col-sm-6 field-value"><%= book.holder -%> <%= book.call_number -%></div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label">Title</div>
      <div class="col-sm-6 field-value"><%= book.name -%></div>
    </div>
  </div>
  <div class="col-sm-2">
    <%= link_to 'Details', book, class: 'btn btn-default btn-xs btn-block' %>
    <% if can? :update, book -%>
    <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary btn-xs btn-block' %>
    <% end -%>
    <% if can? :destroy, book -%>
    <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Completely delete this book?' }, class: 'btn btn-danger btn-xs btn-block' %>
    <% end -%>
  </div>
</div>
<hr>
<% end -%>


