<% content_for :sidebar do -%>
  <%= render '/books/small_title_page_photos', book: @book -%>
<% end -%>

<%# create the modals, we'll refer to them below -%>
<% content_for :modals do -%>
  <%= render '/flickr/preview_modal' -%>
<% end -%>

<p id="notice"><%= notice %></p>

<%= link_to 'Back', books_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>

<h2><%= @book.full_name %></h3>

<h3>Who has it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :repository %></div>
  <div class="col-sm-6 field-value"><%= @book.repository %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :owner %></div>
  <div class="col-sm-6 field-value"><%= @book.owner %></div>
</div>

<h3>Where is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :geo_location %></div>
  <div class="col-sm-6 field-value"><%= @book.geo_location %></div>
</div>

<h3>How to find it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :call_number %></div>
  <div class="col-sm-6 field-value"><%= @book.call_number %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :vol_number %></div>
  <div class="col-sm-6 field-value"><%= @book.vol_number %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :catalog_url %></div>
  <div class="col-sm-6 field-value"><%= @book.catalog_url %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :collection %></div>
  <div class="col-sm-6 field-value"><%= @book.collection %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :other_id_type %></div>
  <div class="col-sm-6 field-value"><%= @book.other_id_type %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :other_id %></div>
  <div class="col-sm-6 field-value"><%= @book.other_id %></div>
</div>

<h3>What is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book,  :author %></div>
  <div class="col-sm-6 field-value"><%= @book.author %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :title %></div>
  <div class="col-sm-6 field-value"><%= @book.title %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :creation_place %></div>
  <div class="col-sm-6 field-value"><%= @book.creation_place %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :creation_date %></div>
  <div class="col-sm-6 field-value"><%= @book.creation_date %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :publisher %></div>
  <div class="col-sm-6 field-value"><%= @book.publisher %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :sammelband %></div>
  <div class="col-sm-6 field-value"><%= @book.sammelband %></div>
</div>


<h3>Title page, evidence images</h3>
<table class="table">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% @book.publishables.each do |item| -%>
  <tr>
    <td>
    <%= link_to image_tag(item.photo.image.url(:thumb),
        class: 'img-thumbnail'), item.photo.image.url(:original),
        target: '_blank', 'data-toggle' => 'tooltip',
        title: 'Click to open in new window.' -%>
    </td>
    <td>
      <h4><%= item.flickr_title -%></h4>
      <%= render '/flickr/status', item: item -%>
    </td>
    <td>
      <%= link_to 'Preview', preview_path({ item_type: item.class, id: item }), remote: true, class: 'btn btn-default modal-link' -%>
      <% if item.is_a? Evidence -%>
      <%= link_to 'Details', item, class: 'btn btn-default' %>
      <% end -%>
    </td>
  </tr>
  <% end -%>
</table>
<div class="row">
<% if @book.publishable? -%>
<% if @book.on_flickr? -%>
<%= link_to 'Publish book', update_flickr_path({ item_type: @book.class, id: @book }), method: :put, class: 'btn btn-primary' -%>
<% else -%>
<%= link_to 'Publish book', create_flickr_path({ item_type: @book.class, id: @book }), method: :post, class: 'btn btn-primary' -%>
<% end -%>
<% end -%>
</div>

<div class="row field-group">
  <h3>Photo queue</h3>
  <ul class="list-inline image-queue">
    <% @book.photos.each do |photo| %>
      <li>
      <div class="panel panel-default">
        <div class="panel-body">
        <%= form_tag "", method: :put, class: "form form-inline" do %>
          <div class="form-group">
            <%= hidden_field_tag "format", id: "evidence_format_#{@book.id}_#{photo.id}" %>
            <%= hidden_field_tag "photo_id", photo.id, id: "photo-#{photo.id}" %>
            <%= hidden_field_tag "book_id", @book.id, id: "photo-#{photo.id}-book-#{@book.id}" %>
            <div class="col-sm-2">
            <%= select_tag "use", options_for_select(ApplicationHelper::PHOTO_ASSIGNMENTS), include_blank: true,
            prompt: "Use image for", class: "form-control image-use input-small", id: "use-#{photo.id.to_s}", "data-width" => "80%" %>
            <%= submit_tag 'Go', class: "btn btn-default" %>
            </div>
          </div>
          <%= link_to image_tag(photo.image.url(:thumb),
            class: 'center-block'), photo.image.url(:original),
            target: '_blank', 'data-toggle' => 'tooltip',
            title: 'Click to open in new window.' -%>

          <br/>
        <% end %> <%# form_tag %>
      </div>
    </div>
    <% end %> <%# @books.photos.each %>
  </ul>
</div>


<%= link_to 'Back', books_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
