<% content_for :sidebar do -%>
  <div id="title-pages">
    <%= render '/books/small_title_page_photos', book: @book -%>
  </div>
<% end -%>

<%# create the modals, we'll refer to them below -%>
<% content_for :modals do -%>
  <%= render '/flickr/preview_modal' -%>
<% end -%>

<% content_for :footer, @book.full_name -%>

<h2><span id="evidence-format-heading"><%= @book.full_name %></span></h3>

<%= link_to 'Book list', books_path, class: 'btn btn-default' %>
<% if can? :update, @book -%>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
<% end -%>

<h3>Who has it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :repository %></div>
  <div class="col-sm-6 field-value"><%= @book.repository %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :owner %></div>
  <div class="col-sm-6 field-value"><%= @book.owner %></div>
</div>

<h3>Where is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :geo_location %></div>
  <div class="col-sm-6 field-value"><%= @book.geo_location %></div>
</div>

<h3>How to find it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :call_number %></div>
  <div class="col-sm-6 field-value"><%= @book.call_number %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :vol_number %></div>
  <div class="col-sm-6 field-value"><%= @book.vol_number %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :catalog_url %></div>
  <div class="col-sm-6 field-value"><%= @book.catalog_url %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :collection %></div>
  <div class="col-sm-6 field-value"><%= @book.collection %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :other_id_type %></div>
  <div class="col-sm-6 field-value"><%= @book.other_id_type %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :other_id %></div>
  <div class="col-sm-6 field-value"><%= @book.other_id %></div>
</div>

<h3>What is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book,  :author %></div>
  <div class="col-sm-6 field-value"><%= @book.author %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :title %></div>
  <div class="col-sm-6 field-value"><%= @book.title %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :creation_place %></div>
  <div class="col-sm-6 field-value"><%= @book.creation_place %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :creation_date %></div>
  <div class="col-sm-6 field-value"><%= @book.creation_date %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :publisher %></div>
  <div class="col-sm-6 field-value"><%= @book.publisher %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @book, :sammelband %></div>
  <div class="col-sm-6 field-value"><%= @book.sammelband %></div>
</div>


<h3>Title page, evidence images</h3>
<div id="publishables-list">
<%= render '/flickr/publishables_list', publishables: @book.publishables %>
</div>

<br>
<% if can? :update, :flickr -%>
<div class="row">
  <div id="publish-book-buttons" data-book="<%= @book.id -%>">
    <%= render '/flickr/publish_book_buttons', book: @book %>
  </div>
</div>
<% end -%>

<% if can? :update, @book -%>
<div class="row field-group">
  <h3>Photo queue</h3>

 <!--

      The anchor below, #photo-queue, doesn't function properly on Safari when
      a link to the anchor is clicked from another page, but it does work when
      the page is loaded a second time. When a link is clicked from another
      page, Safari only scrolls part of the way, showing the h3 tag at near the
      bottom of the screen. Note that it does work if the anchor is higher up
      the page, above the list of publishable images.

      .anchor class, offset anchor so it doesn't fall under the fixed border
      .at the top of the screen.

  -->
  <a class="anchor" id="anchor-photo-queue"></a>
  <div id="photo-queue">
    <%= render 'photos/index', book: @book, photos: @book.queued_photos %>
  </div> <!-- /photo-queue -->
</div> <!-- /row field-group -->
<% end -%>

<%= link_to 'Book list', books_path, class: 'btn btn-default' %>
<% if can? :update, @book -%>
<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-primary' %>
<% end -%>
