<h2>Edit user <%= @user.username -%></h2>


<% if @user.deleted_at.present? -%>
<div class="alert alert-danger">
  Account cancelled <%= @user.deleted_at -%>
</div>
<% end %>

<%= form_for(@user,  builder: SubpopFormbuilder, html: { class: 'form-horizontal' }) do |f| %>

  <div class="error-div">
  <%= render '/shared/error_messages', object: @user %>
  </div>

  <div class="form-group">
    <%= f.label :username, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.email_field :username, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
      <span class="help-block">Leave blank if you don't want to change it.</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control" %>
    </div>
  </div>

  <% if @user.id == current_user.id %>
  <div class="row field-group">
    <div class="col-sm-3 field-label">Admin?</div>
    <div class="col-sm-5 field-value"><%= @user.admin? ? 'Yes': 'No' -%><br>
      <span class="help-block">User cannot change admin status of own account.</span>
    </div>

  </div>
  <% else %>
   <div class="form-group">
    <%= f.label :admin, class: "col-sm-3 control-label" %>
    <div class="col-sm-5">
      <%= f.check_box :admin, class: "form-control" %>
    </div>
  </div>
  <% end %>
  <div class="actions">
    <%= link_to 'User list', user_index_path, class: 'btn btn-default' -%>
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div>
<% end %>

<h3>Cancel account</h3>

<% if @user.deleted_at.blank? -%>
<% if @user.admin? && @user.id == current_user.id -%>
<%= link_to "Cancel account", '#', data: { toggle: 'tooltip', placement: 'right' }, title: 'Admin user cannot cancel own account.', disabled: true, class: 'btn btn-danger' %>
<% else -%>
<%= button_to "Cancel account", @user, data: { confirm: "Cancel this account?" }, method: :delete, class: 'btn btn-danger' %>
<% end -%>
<% else -%>
  <%= form_for @user, method: :patch do |f| %>
  <%= f.hidden_field :restore_account, value: true %>
  <%= f.submit "Restore account", class: 'btn btn-warning', data: { confirm: "Restore this account?" } %>
  <% end %>
<% end -%>
