<% content_for :modals do -%>
<%= render '/names/name_modal' -%>
<% end -%>

  <% if @evidence.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@evidence.errors.count, "error") %>.
      </div>
      <ul>
      <% @evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :photo_id -%>
  <%= f.hidden_field :book_id %>

  <div class="row field-group">
  <div class="col-sm-3 field-label"><%= human_name @evidence, :book_full_name %></div>
    <div class="col-sm-8 field-value"><%= @evidence.book_full_name %></div>
  </div>

  <h3>What is it?</h3>

  <div class="form-group">
    <%= f.label :format, class: "col-sm-3 control-label required" %>
    <div class="col-sm-8">
      <%= f.select :format, Evidence::FORMATS, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :format_other, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :format_other, class: "form-control" %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :content_type, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <div class="form-group">
        <div class="col-sm-6">
        <%= f.select :content_type_ids, ContentType.all.sort.map { |c| [c.name, c.id] }, { include_blank: false }, { class: "form-control", multiple: "multiple" }  -%>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_in_book, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.select :location_in_book, Evidence::LOCATIONS, { include_blank: true }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location_in_book_page, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :location_in_book_page, class: "form-control" %>
    </div>
  </div>

  <h3>What does it say?</h3>

  <div class="form-group">
    <%= f.label :transcription, class: "col-sm-3 control-label" %>
    <div class="col-sm-8"><%= f.text_area :transcription, class: "form-control" %></div>
  </div>

  <h3>When?</h3>

  <div class="form-group">
    <%= f.label :year_when, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.number_field :year_when, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year_start, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.number_field :year_start, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :year_end, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.number_field :year_end, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date_narrative, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
      <%= f.text_field :date_narrative, class: "form-control" %>
    </div>
  </div>

  <h3>Where?</h3>

  <p>
    <span class="help-block">
      Give a place named in the provenance mark or the location of the book at
      the time the mark was added.
    </span>
  </p>

  <div class="form-group">
    <%= f.label :where, class: "col-sm-3 control-label" %>
    <div class="col-sm-8"><%= f.text_field :where, class: "form-control" %></div>
  </div>

  <h3>Who?</h3>

  <p><span class="help-block">
  Add names of people and organization identifiable in this provenance mark.
  </span></p>

  <%= f.fields_for :provenance_agents do |agent| %>
    <%= render 'provenance_agent_fields', f: agent %>
  <% end %>
  <%= link_to_add_fields '<span class="glyphicon glyphicon-plus"></span>', f, :provenance_agents, class: "btn btn-default", title: "Add a name" %>

  <h3>Comments</h3>
  <div class="form-group">
    <%= f.label :comments, '', class: "col-sm-3 control-label" %>
    <div class="col-sm-8"><%= f.text_area :comments, class: "form-control" %></div>
  </div>

  <h3>Citations</h3>
  <div class="form-group">
    <%= f.label :citations, '', class: "col-sm-3 control-label" %>
    <div class="col-sm-8"><%= f.text_area :citations, class: "form-control" %></div>
  </div>


