<div class="panel panel-default">
  <div class="panel-body">
  <button type="button" class="remove-fields btn btn-default pull-right" data-toggle="tooltip" data-placement="right", data-field-container-class='panel', title="Remove name">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span><span class="sr-only">Remove name</span>
    </button>
    <fieldset>
      <%= f.hidden_field :name_id %>
      <%= f.hidden_field :_destroy %>
      <div class="form-group has-feedback">
        <%= f.label :name, class: 'col-sm-3 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :name, class: 'form-control disabled-bold', disabled: true %>
            <span class="form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only"></span>
          </div>
      </div>
      <div class="form-group has-feedback">
        <%= label_tag :search, 'Find/Create name', class: "col-sm-3 control-label" %>
        <div class="col-sm-8">

          <% object_name   = f.object_name.gsub /[\[\]\]]+/, '_' -%>
          <% update_field  = "#{object_name}name_id" %>
          <% display_field = "#{object_name}name" %>
            <%= text_field_tag 'search', '', class: 'form-control name-search', data: { 'id-element': "##{update_field}", 'display-element': "##{display_field}" }, placeholder: 'Name search' -%>
            <span class="form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </div>
      </div>



      <div class="form-group">
        <%= f.label :role, class: "col-sm-3 control-label" %>
        <div class="col-sm-8">
          <%= f.select :role, ProvenanceAgent::ROLES, { include_blank: true }, { class: "form-control" } -%>
        </div>
      </div>
    </fieldset>
  </div>
</div>