<% content_for :sidebar do -%>
  <%= render 'small_evidence_photo', book: @book, evidence: @evidence %>
<% end -%>

<%= render 'small_evidence_photo', book: @book, evidence: @evidence %>

<%= form_for @evidence, url: link_context_image_to_evidence_path(@evidence), method: :patch, html: { id: 'link_to_context_image' }, remote: true do |f| %>

  <% if @evidence.book_photos.present? %>
  <ul class="list-inline image-list">
    <% @evidence.book_photos.each do |photo| %>
    <li>
      <div class="light-box-photo">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="thumbnail">
            <div class="thumb-container">
            <div class="thumb">
              <label for="evidence_context_photo_id_<%= photo.id %>">
                <%= image_tag photo.image.url(:thumb), class: 'img-responsive center-block'  %>
                <div class="caption">
                <%= f.radio_button :context_photo_id, photo.id, checked: (photo.id == @evidence.context_image_photo_id) %>
                <%= f.label "evidence_context_photo_id_#{photo.id}", 'Use image' %>
              </label>
              </div> <!-- /.caption -->
              </div> <!-- /.thumb -->
            </div> <!-- /.thumb-container -->
            </div> <!-- /.thumbnail -->
          </div> <!-- /.panel-body -->
        </div> <!-- /.panel .panel-default -->

      </div> <!-- /.queued-photo -->
    </li>
    <% end %> <%# @evidence.book_photos.each do |photo| %>
  </ul>
  <% end %> <%# if @evidence.book_photos.present? %>

  <div class="actions">
    <%= link_to 'Cancel', @evidence, class: "btn btn-default" %>
    <%= f.submit class: "btn btn-success", value: "Select context image" %>
  </div>

<% end %> <%# form_for @evidence, etc. %>