<h2>Edit <span id="evidence-format-heading"><%= @evidence.format_name -%></span></h2>


<% content_for :sidebar do -%>
  <%= render 'small_evidence_photo', book: @book, evidence: @evidence, allow_edit: true %>
<% end -%>

<%# create the modals, we'll refer to them below -%>
<% content_for :modals do -%>
  <%= render '/flickr/preview_modal' -%>
  <%= render '/cropping/photos/cropper_modal' %>
<% end -%>

<% content_for :footer, @evidence.full_name -%>

<% content_for :footer_right do -%>
  <%= render '/shared/update_status', object: @evidence  -%>
<% end -%>

<%= form_for @evidence, builder: SubpopFormbuilder, id: 'evidence-form', html: { class: 'form-horizontal' } do |f| %>
  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to 'Cancel', @evidence, class: "btn btn-default" %>
    <%= f.submit class: "btn btn-success" %>
  </div>

<% end -%>

<%= render '/shared/update_status', object: @evidence -%>