
<% content_for :sidebar do -%>
  <%= render 'small_evidence_photo', evidence: @evidence %>
<% end -%>

<% content_for :modals do -%>
<%= render '/flickr/preview_modal' -%>
<% end -%>

<h3>Book</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :book_full_name %></div>
  <div class="col-sm-6 field-value"><%= @evidence.book_full_name %></div>
</div>

<h3>What is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :location_in_book %></div>
  <div class="col-sm-6 field-value"><%= @evidence.location_name %></div>
</div>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :format %></div>
  <div class="col-sm-6 field-value"><%= @evidence.format_name %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :content_type %></div>
  <div class="col-sm-6 field-value">
    <% if @evidence.content_types.present? %>
      <ul class="list-unstyled">
        <% @evidence.content_types.each do |ct| %>
          <li><%= ct.name %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :transcription %></div>
  <div class="col-sm-6 field-value"><%= @evidence.transcription %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_when %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_when %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_start %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_start %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_end %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_end %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :date_narrative %></div>
  <div class="col-sm-6 field-value"><%= @evidence.date_narrative %></div>
</div>

<h3>Where?</h3>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :where %></div>
  <div class="col-sm-6 field-value"><%= @evidence.where %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :comments %></div>
  <div class="col-sm-6 field-value"><%= @evidence.comments %></div>
</div>

<h3>Citations</h3>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :citations -%></div>
  <div class="col-sm-6 field-value"><%= @evidence.citations -%></div>
</div>

<h3>Provenance</h3>

<% if @evidence.provenance_agents.present? %>
  <% @evidence.provenance_agents.each do |agent| %>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= ProvenanceAgent.role_name agent.role %></div>
      <div class="col-sm-6 field-value"><%= agent.name.full_name %></div>
    </div>
  <% end %>
<% else %>
  <p>No provenance agents associated with this evidence.</p>
<% end %>

<h3>Flickr</h3>

  <%= render '/flickr/status', item: @evidence -%>
  <div class="row field-group top-buffer">
    <div class="col-sm-4 field-label"></div>
    <div class="col-sm-6 field-value">
      <%= link_to 'Preview', preview_path({ item_type: @evidence.class.name.underscore, id: @evidence }), remote: true, class: 'btn btn-default btn-sm modal-link' -%>
      <% if @evidence.publishable? -%>
      <% if @evidence.on_flickr? -%>
      <%= link_to 'Publish', update_flickr_path(item_type: @evidence.class.name.underscore, id: @evidence), method: :put, class: 'btn btn-primary btn-sm', title: "Publish to Flickr" %>
      <% else -%>
      <%= link_to 'Publish', create_flickr_path(item_type: @evidence.class.name.underscore, id: @evidence), method: :put, class: 'btn btn-primary btn-sm', title: "Publish to Flickr" %>
      <% end -%>
      <% else -%>
      <%= link_to 'Publish', '#', class: 'btn btn-primary btn-sm', disabled: true, "data-toggle": "tooltip", "data-placement": "right", title: unpublishable_reason(@evidence.flickr_status) %>
      <% end -%>
      <% if @evidence.unpublishable? -%>
      <%= link_to 'Unpublish', delete_flickr_path(item_type: @evidence.model_name.param_key, id: @evidence), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm', "data-toggle": "tooltip", "data-placement": "bottom", title: "Remove photo from Flickr" %>
      <% else -%>
      <%= link_to 'Unpublish', '#', class: 'btn btn-danger btn-sm', disabled: true, "data-toggle": "tooltip", "data-placement": "bottom", title: "Item cannot be removed from Flickr" %>
      <% end -%>
    </div>
  </div>

  <div class="row top-buffer">
 <%= link_to 'Back', @evidence.book, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_evidence_path(@evidence), class: 'btn btn-primary' %>

  </div>