<% content_for :sidebar do -%>
  <%= render 'small_evidence_photo', book: @book, evidence: @evidence %>
<% end -%>

<%# create the modals, we'll refer to them below -%>
<% content_for :modals do -%>
  <%= render '/flickr/preview_modal' -%>
  <%= render '/cropping/photos/cropper_modal' %>
<% end -%>

<% content_for :footer, @evidence.full_name -%>

<% content_for :footer_right do -%>
  <%= render '/shared/update_status', object: @evidence  -%>
<% end -%>


<h2><%= @evidence.format_name -%></h2>

<h3>Book</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :book_full_name %></div>
  <div class="col-sm-6 field-value"><%= @evidence.book_full_name %></div>
</div>

<h3>What is it?</h3>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :location_in_book %></div>
  <div class="col-sm-6 field-value"><%= @evidence.location_name %></div>
</div>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :format %></div>
  <div class="col-sm-6 field-value"><%= @evidence.format_name %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :content_type %></div>
  <div class="col-sm-6 field-value">
    <% if @evidence.content_types.present? %>
      <ul class="list-unstyled">
        <% @evidence.content_types.each do |ct| %>
          <li><%= ct.name %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :transcription %></div>
  <div class="col-sm-6 field-value"><%= @evidence.transcription %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_when %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_when %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_start %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_start %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :year_end %></div>
  <div class="col-sm-6 field-value"><%= @evidence.year_end %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :date_narrative %></div>
  <div class="col-sm-6 field-value"><%= @evidence.date_narrative %></div>
</div>

<h3>Where?</h3>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :where %></div>
  <div class="col-sm-6 field-value"><%= @evidence.where %></div>
</div>

<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :comments %></div>
  <div class="col-sm-6 field-value"><%= @evidence.comments %></div>
</div>

<h3>Citations</h3>
<div class="row field-group">
  <div class="col-sm-4 field-label"><%= human_name @evidence, :citations -%></div>
  <div class="col-sm-6 field-value"><pre><%= @evidence.citations -%></pre></div>
</div>

<h3>Provenance</h3>

<% if @evidence.provenance_agents.present? %>
  <% @evidence.provenance_agents.each do |agent| %>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= agent.role_name %></div>
      <div class="col-sm-6 field-value"><%= agent.full_name %></div>
    </div>
  <% end %>
<% else %>
  <p>No provenance agents associated with this evidence.</p>
<% end %>

<h3>Flickr</h3>

<div class="row">
<div class="publishable-status<%= @evidence.processing? ? ' processing' : '' -%>" id="<%= publishable_div_id @evidence %>" data-item="<%= @evidence.id -%>" data-item-type="<%= @evidence.model_name.plural -%>">
    <%= render '/flickr/status', item: @evidence -%>
</div>
</div>

<div class="row top-buffer">
<div class="col-sm-7">

  <% if can? :read, @evidence.book -%>
  <%= link_to 'Book', @evidence.book, class: 'btn btn-default', data: { toggle: 'tooltip' }, title: "Return to the book page" %>
  <% end -%>

  <% if can? :update, @evidence.book -%>
  <%= link_to 'Photo queue', book_path(@evidence.book, anchor: "anchor-photo-queue"), class: 'btn btn-default', data: { toggle: 'tooltip' }, title: "Return to photo queue on the book page" %>
  <% end -%>

  <% if can? :update, @evidence -%>
  <%= link_to 'Edit', edit_evidence_path(@evidence), class: 'btn btn-primary', data: { toggle: 'tooltip' }, title: "Edit this #{@evidence.format_name}" %>
  <% end -%>

  <% if can? :destroy, @evidence -%>
  <%= link_to 'Delete', [@evidence.book,@evidence], class: 'btn btn-danger', method: :delete, data: { confirm: "Delete this #{@evidence.format_name}?", toggle: 'tooltip' }, title: "Delete this #{@evidence.format_name}" -%>
  <% end -%>

 </div>
</div>