<p>
<% if book.all_queued? -%>
<p><%= book.photos.count -%> photos <%= link_to 'Show all', '#', class: 'btn btn-default btn-sm btn-hidden', disabled: true -%></p>
<% else -%>
<p><%= book.photos.count -%> photos (<%= book.photos_hidden -%> hidden)
<%= link_to 'Show all', restore_queue_book_photos_path(@book), method: :patch, class: 'btn btn-default btn-sm', remote: true -%></p>
<% end -%>
</p>

<ul class="list-inline image-queue">
  <% book.photos.queued.each do |photo| %>
  <li>
    <%= render 'photos/queued_photo', photo: photo, book: book %>
  </li>
  <% end %> <%# books.photos.each %>
</ul>