<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag "", class: "form form-inline" do %>
    <%= hidden_field_tag "photo_id", photo.id, id: "photo-#{photo.id}" %>
    <%= hidden_field_tag "book_id", book.id, id: "photo-#{photo.id}-book-#{book.id}" %>

    <% if can? :update, photo %>
    <div class="form-group">
      <%= select_tag "use", grouped_options_for_select(ApplicationHelper::PHOTO_ASSIGNMENTS), include_blank: false,
      prompt: "Use image for", class: "form-control image-use input-small", id: "use-#{photo.id.to_s}", "data-width" => "80%" %>
    </div> <!-- /form-group -->
    <% end %> <%# /select_tag -%>

    <br>
    <br>
    <div class="thumb-container">
      <%= render '/thumbnails/show', parent: book, thumbnail: photo, image_size: :thumb  %>
    </div>
    <br/>
    <% end %> <%# /form_tag %>

  </div>  <!-- /.panel-body -->
  <div class="panel-footer clearfix">
    <% if can? :update, photo -%>
    <div class="edit-photo-container pull-left">
      <%= render 'photos/edit_photo_link', item: book, photo: photo, link_name: 'Edit master photo' %>

      <p><%= link_to 'Make Title Page', book_title_pages_path(book, title_page: { photo_id: photo }), method: :post, class: 'btn btn-default btn-sm'%></p>
      </div>

      <p class="pull-right"><%= use_count photo -%></p>
    <% end %>

  </div> <!-- /.panel-footer -->
</div>  <!-- /.panel .panel-default -->

