<pre>
<a href="<%= item.tag_url book.full_name -%>">All images from this book.</a>

<% if item.kind_of? Evidence -%>
<b>EVIDENCE</b>
<b>Provenance evidence</b>: <%= item.evidence_summary %>
<% if item.location_in_book.present? -%>
<b>Location in book</b>: <%= item.location_name %>
<% end -%>
<% if item.transcription.present? -%>
<b>Transcription</b>: <%= item.transcription %>
<% end -%>
<% if item.has_date? -%>
<b>Date</b>: <%= item.date_string %>
<% end -%>
<% if item.where.present? -%>
<b>Geographic location:</b>: <%= item.where %>
<% end -%>

<% end -%>
<b>COPY</b>
<b>Repository</b>: <%= book.repository %>
<% if book.call_number.present? -%>
<% if book.catalog_url.present? -%>
<b>Call number</b>: <a href="<%= book.catalog_url %>"><%= book.call_number %></a>
<% else -%>
<b>Call number</b>: <%= book.call_number %>
<% end -%>
<% end -%>
<% if book.volume_name.present? -%>
<b>Volume</b>: <%= book.vol_number %>
<% end -%>
<% if book.collection.present? -%>
<b>Collection</b>: <%= book.collection %>
<% end -%>
<b>Copy title</b>: <%= book.title %>
<% if book.author.present? -%>
<b>Author(s)</b>: <%= book.author %>
<% end -%>
<% if book.publication_info? -%>
<b>Published</b>: <%= book.publication_info %>
<% end -%>
<% if item.respond_to?(:comments) && item.comments.present? -%>

<b>COMMENT</b>
<%= item.comments %>
<% end -%>

<b>CITATION</b>
TODO: Handle citation?

<b>FIND IN POP</b>
<% item.tags_from_object.each do |tag| -%>
<a href="<%= item.tag_url tag.text -%>"><%= tag.raw -%></a>
<% end -%>
</pre>