<% if publishables.present? -%>
<% publishables.each do |item| -%>
<div class="row">
<div class="publishable-status<%= item.processing? ? ' processing' : '' -%>" id="<%= publishable_div_id item %>" data-item="<%= item.id -%>" data-item-type="<%= item.model_name.plural -%>">
    <%= render '/flickr/status', item: item -%>
  </div>
</div>
<hr>
<% end -%>
<% else -%>
<p>No images have been assigned.</p>
<% end -%>