<div class="parent-div-id" data-parent-div="<%= publishable_div_id item -%>">
  <%# THUMBNAIL -%>
  <div class="col-sm-2">
    <%= link_to image_tag(item.photo.image.url(:thumb),
      class: 'img-thumbnail'), item.photo.image.url(:original),
      target: '_blank', 'data-toggle' => 'tooltip',
      title: 'Click to open in new window.' -%>
  </div>

  <%# STATUS -%>
  <div class="col-sm-6">
    <h4><%= item.flickr_title -%></h4>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :flickr_status %></div>
      <div class="col-sm-6 field-value">
      <span class="label <%= flickr_label_class item.flickr_status -%>"><%= item.flickr_status %></span>
      </div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :short_url %></div>
      <div class="col-sm-6 field-value">
        <% if item.on_flickr? -%>
        <a target="_blank" href="<%= item.photopage_url -%>"><%= item.short_url -%> <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        <% else -%>
        N/A
        <% end -%>
      </div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :last_updated %></div>
      <div class="col-sm-6 field-value"><%= format_datetime item.last_updated %></div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :published_at %></div>
      <div class="col-sm-6 field-value"><%= format_datetime(item.published_at) || 'N/A' %></div>
    </div>
  </div>

  <%# BUTTONS -%>
  <div class="col-sm-4">
    <div class="btn-group-vertical" role="group">
    <%= publish_item_link 'Publish image', item, remote: true, data: { placement: 'right' } -%>
    <%= unpublish_item_link 'Unpublish image', item, remote: true, data: { placement: 'right' } -%>
    <%= link_to 'Preview', preview_path({ item_type: item.class, id: item }), remote: true, class: 'btn btn-default btn-sm modal-link', title: 'Preview Flickr display', data: { toggle: 'tooltip', placement: 'right'} -%>
    <%#
      ==== details button ===
    -%>
    <% if item.is_a? Evidence -%>
    <%= link_to 'Details', item, class: 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'right' }, title: 'Show mark details' %>
    <% end -%>
    </div>
  </div>
</div>