<div class="parent-div-id" data-parent-div="<%= publishable_div_id item -%>">
  <%# THUMBNAIL -%>
  <div class="col-sm-2 image">
    <div class="thumb-container">
      <%= render '/thumbnails/show', parent: item, thumbnail: item.photo, image_size: :thumb %>
    </div>
  </div>

  <%# STATUS -%>
  <div class="col-sm-6">
    <h4><%= item.flickr_title -%></h4>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :flickr_status %></div>
      <div class="col-sm-6 field-value">
      <span class="label <%= flickr_label_class item.flickr_status -%>"><%= item.flickr_status %></span>
      </div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :short_url %></div>
      <div class="col-sm-6 field-value">
        <% if item.on_flickr? -%>
        <a target="_blank" href="<%= item.photopage_url -%>"><%= item.short_url -%> <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>
        <% else -%>
        N/A
        <% end -%>
      </div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :last_updated %></div>
      <div class="col-sm-6 field-value"><%= format_datetime item.last_updated %></div>
    </div>
    <div class="row field-group">
      <div class="col-sm-4 field-label"><%= human_name item, :published_at %></div>
      <div class="col-sm-6 field-value"><%= format_datetime(item.published_at) || 'N/A' %></div>
    </div>
  </div>

  <%# BUTTONS -%>
  <div class="col-sm-4">
    <div class="btn-group-status" role="group">

      <% if can? :update, item -%>
      <%= link_to_publish_item 'Publish image', item, class: 'btn btn-success btn-xs btn-block', remote: true, data: { toggle: 'tooltip', placement: 'right' }, title: 'Publish to Flickr' -%>
      <% end -%>

      <% if can? :update, item -%>
      <%= link_to_unpublish_item 'Unpublish image', item, class: 'btn btn-danger btn-xs btn-block', remote: true, data: { toggle: 'tooltip', placement: 'right' }, title: 'Remove from Flickr' -%>
      <% end -%>

      <% if can? :destroy, item -%>
      <% unless params[:controller] == 'evidence' -%>
      <%= link_to_delete_publishable item.book, item, class: 'btn btn-danger btn-xs btn-block', remote: true, data: { toggle: 'tooltip', placement: 'right' }, title: "Delete #{item.publishable_format}" -%>
      <% end -%>
      <% end -%>

      <% if can? :read, item -%>
      <%= link_to 'Preview', flickr_path(item), remote: true, class: 'btn btn-default btn-xs btn-block modal-link', title: 'Preview Flickr display', data: { toggle: 'tooltip', placement: 'right', 'modal-id': 'preview-modal' } -%>
      <% end -%>

      <% if can? :read, item -%>
      <% if item.is_a? Evidence -%>
      <%= link_to 'Details', item, class: 'btn btn-default btn-xs btn-block', data: { toggle: 'tooltip', placement: 'right' }, title: 'Show mark details' %>
      <% end -%>
      <% end -%>

    </div>
  </div>
</div>